<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs2069.hs2069" >

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".PersonActivity"
            android:label="@string/title_activity_person"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ModifyActivity"
            android:label="@string/title_activity_modify"
            android:parentActivityName=".PersonActivity">
        </activity>
        <activity android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
        </activity>
        <activity android:name=".BlankActivity"
            android:label="你们看不到我"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".PaymentActivity"
            android:label="确认购买"
            android:parentActivityName=".ItemActivity">
        </activity>
        <activity android:name=".AddressActivity"
            android:label="修改收货地址"
            android:parentActivityName=".ModifyActivity">
        </activity>
        <activity android:name=".CardActivity"
            android:label="绑定支付信息"
            android:parentActivityName=".ModifyActivity">
        </activity>
    </application>

</manifest>
